# -----------------------------------------
# ОБЩИЙ ФАЙЛ КОНФИГУРАЦИИ МИКРОСЕРВИСНОЙ АРХИТЕКТУРЫ
# -----------------------------------------
# Этот файл содержит все переменные окружения для всех сервисов
# с префиксами для избежания конфликтов имен.
# -----------------------------------------

# -----------------------------------------
# CORE НАСТРОЙКИ (ОБЩИЕ КОМПОНЕНТЫ)
# -----------------------------------------

# Kafka настройки
CORE_KAFKA_EXTERNAL_PORT=9092
CORE_KAFKA_INTERNAL_PORT=29092
CORE_KAFKA_CONTROLLER_PORT=29093
CORE_KAFKA_UI_PORT=8090

# OpenTelemetry Collector настройки
CORE_OTEL_GRPC_PORT=4317
CORE_OTEL_COLLECTOR_METRICS_PORT=8888

# OpenTelemetry Collector настройки для внешних метрик
METRICS_OTEL_COLLECTOR_ENDPOINT=otel-collector:4317
METRICS_COLLECTOR_INTERVAL=10s

# Jaeger
CORE_JAEGER_HOST=jaeger
CORE_JAEGER_PORT=4317
CORE_JAEGER_UI_PORT=16686

# -----------------------------------------
# INVENTORY СЕРВИС
# -----------------------------------------

# gRPC настройки
INVENTORY_GRPC_HOST=0.0.0.0
INVENTORY_GRPC_PORT=50051

# gRPC клиенты
INVENTORY_IAM_GRPC_HOST=iam-grpc-server
INVENTORY_IAM_GRPC_PORT=50053

# Логгер
INVENTORY_LOGGER_LEVEL=info
INVENTORY_LOGGER_AS_JSON=true
INVENTORY_LOGGER_ENABLE_OTLP=true
INVENTORY_LOGGER_OTEL_COLLECTOR_ENDPOINT=otel-collector:4317
INVENTORY_LOGGER_SERVICE_NAME=inventory-service

# MongoDB
INVENTORY_MONGO_IMAGE_NAME=mongo:7.0.5
INVENTORY_EXTERNAL_MONGO_PORT=27018
INVENTORY_MONGO_HOST=mongo-inventory
INVENTORY_MONGO_PORT=27017
INVENTORY_MONGO_INITDB_DATABASE=inventory
INVENTORY_MONGO_AUTH_DB=admin
INVENTORY_MONGO_INITDB_ROOT_USERNAME=inventory_admin
INVENTORY_MONGO_INITDB_ROOT_PASSWORD=inventory_secret

# -----------------------------------------
# ORDER СЕРВИС
# -----------------------------------------

# gRPC клиенты
ORDER_INVENTORY_GRPC_HOST=inventory-grpc-server
ORDER_INVENTORY_GRPC_PORT=50051
ORDER_PAYMENT_GRPC_HOST=payment-grpc-server
ORDER_PAYMENT_GRPC_PORT=50052
ORDER_IAM_GRPC_HOST=iam-grpc-server
ORDER_IAM_GRPC_PORT=50053

# HTTP сервер
ORDER_HTTP_HOST=0.0.0.0
ORDER_HTTP_PORT=8080
ORDER_HTTP_READ_TIMEOUT=20s
ORDER_HTTP_SHUTDOWN_TIMEOUT=20s
ORDER_HTTP_OPERATION_TIMEOUT=20s

# Логгер
ORDER_LOGGER_LEVEL=info
ORDER_LOGGER_AS_JSON=true
ORDER_LOGGER_ENABLE_OTLP=true
ORDER_LOGGER_OTEL_COLLECTOR_ENDPOINT=otel-collector:4317
ORDER_LOGGER_SERVICE_NAME=order-service

# PostgreSQL
ORDER_POSTGRES_HOST=postgres-order
ORDER_POSTGRES_PORT=5432
ORDER_EXTERNAL_POSTGRES_PORT=5435
ORDER_POSTGRES_USER=order_user
ORDER_POSTGRES_PASSWORD=order_password
ORDER_POSTGRES_DB=order
ORDER_POSTGRES_SSL_MODE=disable
ORDER_MIGRATION_DIRECTORY=order/migrations

# Kafka настройки
ORDER_KAFKA_BROKERS=kafka:29092
ORDER_ORDER_PAID_TOPIC_NAME=order.paid
ORDER_ORDER_ASSEMBLED_TOPIC_NAME=order.assembled
ORDER_ORDER_ASSEMBLED_CONSUMER_GROUP_ID=order-group-order-assembled

# Трейсинг (OpenTelemetry)
ORDER_OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317
ORDER_OTEL_SERVICE_NAME=order-service
ORDER_OTEL_ENVIRONMENT=development
ORDER_OTEL_SERVICE_VERSION=1.0.0

# -----------------------------------------
# PAYMENT СЕРВИС
# -----------------------------------------

# gRPC сервер
PAYMENT_GRPC_HOST=0.0.0.0
PAYMENT_GRPC_PORT=50052

# Логгер
PAYMENT_LOGGER_LEVEL=info
PAYMENT_LOGGER_AS_JSON=true
PAYMENT_LOGGER_ENABLE_OTLP=true
PAYMENT_LOGGER_OTEL_COLLECTOR_ENDPOINT=otel-collector:4317
PAYMENT_LOGGER_SERVICE_NAME=payment-service

# Трейсинг (OpenTelemetry)
PAYMENT_OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317
PAYMENT_OTEL_SERVICE_NAME=payment-service
PAYMENT_OTEL_ENVIRONMENT=development
PAYMENT_OTEL_SERVICE_VERSION=1.0.0

# -----------------------------------------
# ASSEMBLY СЕРВИС
# -----------------------------------------

# Kafka настройки
ASSEMBLY_KAFKA_BROKERS=kafka:29092
ASSEMBLY_ORDER_PAID_TOPIC_NAME=order.paid
ASSEMBLY_ORDER_PAID_CONSUMER_GROUP_ID=assembly-group-order-paid
ASSEMBLY_ORDER_ASSEMBLED_TOPIC_NAME=order.assembled

# Логгер
ASSEMBLY_LOGGER_LEVEL=info
ASSEMBLY_LOGGER_AS_JSON=true
ASSEMBLY_LOGGER_ENABLE_OTLP=true
ASSEMBLY_LOGGER_OTEL_COLLECTOR_ENDPOINT=otel-collector:4317
ASSEMBLY_LOGGER_SERVICE_NAME=assembly-service

# -----------------------------------------
# NOTIFICATION СЕРВИС
# -----------------------------------------

# Kafka настройки
NOTIFICATION_KAFKA_BROKERS=kafka:29092
NOTIFICATION_ORDER_PAID_TOPIC_NAME=order.paid
NOTIFICATION_ORDER_PAID_CONSUMER_GROUP_ID=notification-group-order-paid
NOTIFICATION_ORDER_ASSEMBLED_TOPIC_NAME=order.assembled
NOTIFICATION_ORDER_ASSEMBLED_CONSUMER_GROUP_ID=notification-group-order-assembled

# Telegram бот
NOTIFICATION_TELEGRAM_BOT_TOKEN=8571467126:AAEf4PAPWpRvIRYRrcHRUCKgXfz9zezcqWw

# Логгер
NOTIFICATION_LOGGER_LEVEL=info
NOTIFICATION_LOGGER_AS_JSON=true
NOTIFICATION_LOGGER_ENABLE_OTLP=true
NOTIFICATION_LOGGER_OTEL_COLLECTOR_ENDPOINT=otel-collector:4317
NOTIFICATION_LOGGER_SERVICE_NAME=notification-service

# -----------------------------------------
# IAM СЕРВИС
# -----------------------------------------

# gRPC настройки
IAM_GRPC_HOST=0.0.0.0
IAM_GRPC_PORT=50053

# Логгер
IAM_LOGGER_LEVEL=info
IAM_LOGGER_AS_JSON=true
IAM_LOGGER_ENABLE_OTLP=true
IAM_LOGGER_OTEL_COLLECTOR_ENDPOINT=otel-collector:4317
IAM_LOGGER_SERVICE_NAME=iam-service

# PostgreSQL
IAM_POSTGRES_HOST=postgres-iam
IAM_POSTGRES_PORT=5432
IAM_EXTERNAL_POSTGRES_PORT=5436
IAM_POSTGRES_USER=iam_user
IAM_POSTGRES_PASSWORD=iam_password
IAM_POSTGRES_DB=iam
IAM_POSTGRES_SSL_MODE=disable
IAM_MIGRATION_DIRECTORY=iam/migrations

# Redis
IAM_REDIS_HOST=redis-iam
IAM_REDIS_PORT=6379
IAM_EXTERNAL_REDIS_PORT=6333
IAM_REDIS_CONNECTION_TIMEOUT=20s
IAM_REDIS_MAX_IDLE=20
IAM_REDIS_IDLE_TIMEOUT=20s
IAM_REDIS_CACHE_TTL=24h

# ----------------------------
# Настройки Envoy
# ----------------------------

# Порт для административного интерфейса Envoy (доступен только локально)
ENVOY_ADMIN_PORT=8081

# Основной порт, через который Envoy проксирует внешние запросы
ENVOY_PORT=8080
