# -----------------------------------------
# ОБЩИЙ ФАЙЛ КОНФИГУРАЦИИ МИКРОСЕРВИСНОЙ АРХИТЕКТУРЫ
# -----------------------------------------
# Этот файл содержит все переменные окружения для всех сервисов
# с префиксами для избежания конфликтов имен.
# -----------------------------------------

# -----------------------------------------
# INVENTORY СЕРВИС
# -----------------------------------------

# gRPC настройки
INVENTORY_GRPC_HOST=0.0.0.0
INVENTORY_GRPC_PORT=50051

# Логгер
INVENTORY_LOGGER_LEVEL=info
INVENTORY_LOGGER_AS_JSON=true

# MongoDB
INVENTORY_MONGO_IMAGE_NAME=mongo:7.0.5
INVENTORY_EXTERNAL_MONGO_PORT=27018
INVENTORY_MONGO_HOST=localhost
INVENTORY_MONGO_PORT=27018
INVENTORY_MONGO_INITDB_DATABASE=inventory
INVENTORY_MONGO_AUTH_DB=admin
INVENTORY_MONGO_INITDB_ROOT_USERNAME=inventory_admin
INVENTORY_MONGO_INITDB_ROOT_PASSWORD=inventory_secret

# -----------------------------------------
# ORDER СЕРВИС
# -----------------------------------------

# gRPC клиенты
ORDER_INVENTORY_GRPC_HOST=0.0.0.0
ORDER_INVENTORY_GRPC_PORT=50051
ORDER_PAYMENT_GRPC_HOST=0.0.0.0
ORDER_PAYMENT_GRPC_PORT=50052

# HTTP сервер
ORDER_HTTP_HOST=localhost
ORDER_HTTP_PORT=8080
ORDER_HTTP_READ_TIMEOUT=10s
ORDER_HTTP_SHUTDOWN_TIMEOUT=10s
ORDER_HTTP_OPERATION_TIMEOUT=10s


# Логгер
ORDER_LOGGER_LEVEL=info
ORDER_LOGGER_AS_JSON=true

# PostgreSQL
ORDER_POSTGRES_HOST=localhost
ORDER_POSTGRES_PORT=5432
ORDER_EXTERNAL_POSTGRES_PORT=5435
ORDER_POSTGRES_USER=order_user
ORDER_POSTGRES_PASSWORD=order_password
ORDER_POSTGRES_DB=order
ORDER_POSTGRES_SSL_MODE=disable
ORDER_MIGRATION_DIRECTORY=../order/migrations

# -----------------------------------------
# PAYMENT СЕРВИС
# -----------------------------------------

# gRPC сервер
PAYMENT_GRPC_HOST=0.0.0.0
PAYMENT_GRPC_PORT=50052

# Логгер
PAYMENT_LOGGER_LEVEL=info
PAYMENT_LOGGER_AS_JSON=true
