# ----------------------------
# Kafka настройки
# ----------------------------

# Адреса Kafka-брокеров через запятую
KAFKA_BROKERS=${ASSEMBLY_KAFKA_BROKERS}

# Название топика с событиями "Заказ оплачен"
ORDER_PAID_TOPIC_NAME=${ASSEMBLY_ORDER_PAID_TOPIC_NAME}

# Идентификатор consumer group для обработки событий "Заказ оплачен"
ORDER_PAID_CONSUMER_GROUP_ID=${ASSEMBLY_ORDER_PAID_CONSUMER_GROUP_ID}

# Название топика с событиями "Заказ собран"
ORDER_ASSEMBLED_TOPIC_NAME=${ASSEMBLY_ORDER_ASSEMBLED_TOPIC_NAME}

# ----------------------------
# OpenTelemetry Collector настройки для приема метрик
# ----------------------------

# Порт OpenTelemetry Collector для приема метрик от приложений
METRICS_OTEL_COLLECTOR_ENDPOINT=${METRICS_OTEL_COLLECTOR_ENDPOINT}

# Интервал отправки метрик в OpenTelemetry Collector
METRICS_COLLECTOR_INTERVAL=${METRICS_COLLECTOR_INTERVAL}

# ----------------------------
# Настройки логгера
# ----------------------------

# Уровень логирования (debug, info, warn, error)
LOGGER_LEVEL=${ASSEMBLY_LOGGER_LEVEL}

# Выводить логи в формате JSON (true/false)
LOGGER_AS_JSON=${ASSEMBLY_LOGGER_AS_JSON}

# Отправлять логи в коллектор OpenTelemetry (true/false)
LOGGER_ENABLE_OTLP=${ASSEMBLY_LOGGER_ENABLE_OTLP}

# Порт OpenTelemetry Collector для приема логов от приложений
LOGGER_OTEL_COLLECTOR_ENDPOINT=${ASSEMBLY_LOGGER_OTEL_COLLECTOR_ENDPOINT}

# Имя сервиса для записи в логи
LOGGER_SERVICE_NAME=${ASSEMBLY_LOGGER_SERVICE_NAME}
