# ----------------------------
# Настройки Kafka
# ----------------------------

# Внешний порт Kafka, через который клиенты подключаются снаружи контейнера
KAFKA_EXTERNAL_PORT=${CORE_KAFKA_EXTERNAL_PORT}

# Внутренний порт Kafka, который используется внутри docker-сети
KAFKA_INTERNAL_PORT=${CORE_KAFKA_INTERNAL_PORT}

# Порт контроллера Kafka (используется при работе в режиме KRaft)
KAFKA_CONTROLLER_PORT=${CORE_KAFKA_CONTROLLER_PORT}

# Порт для веб-интерфейса Kafka UI (например, Kafdrop, Redpanda Console)
KAFKA_UI_PORT=${CORE_KAFKA_UI_PORT}

# Порт для протокола OTLP gRPC
OTEL_GRPC_PORT=${CORE_OTEL_GRPC_PORT}

# Prometheus метрики для мониторинга и healthcheck
OTEL_COLLECTOR_METRICS_PORT=${CORE_OTEL_COLLECTOR_METRICS_PORT}

# Jaeger
JAEGER_HOST=${CORE_JAEGER_HOST}
JAEGER_PORT=${CORE_JAEGER_PORT}
JAEGER_UI_PORT=${CORE_JAEGER_UI_PORT}
