# ----------------------------
# Настройки Envoy
# ----------------------------

# Порт для административного интерфейса Envoy (доступен только локально)
ENVOY_ADMIN_PORT=${ENVOY_ADMIN_PORT}

# Основной порт, через который Envoy проксирует внешние запросы
ENVOY_PORT=${ENVOY_PORT}