# ----------------------------
# Настройки gRPC-сервера
# ----------------------------

# Адрес, на котором будет слушать gRPC-сервер
GRPC_HOST=${PAYMENT_GRPC_HOST}

# Порт, на котором будет работать gRPC-сервер
GRPC_PORT=${PAYMENT_GRPC_PORT}

# ----------------------------
# Настройки логгера
# ----------------------------

# Уровень логирования (debug, info, warn, error)
LOGGER_LEVEL=${PAYMENT_LOGGER_LEVEL}

# Выводить логи в формате JSON (true/false)
LOGGER_AS_JSON=${PAYMENT_LOGGER_AS_JSON}

# Отправлять логи в коллектор OpenTelemetry (true/false)
LOGGER_ENABLE_OTLP=${PAYMENT_LOGGER_ENABLE_OTLP}

# Порт для приема логов от приложений
LOGGER_OTEL_COLLECTOR_ENDPOINT=${PAYMENT_LOGGER_OTEL_COLLECTOR_ENDPOINT}

# Имя сервиса для записи в логи
LOGGER_SERVICE_NAME=${PAYMENT_LOGGER_SERVICE_NAME}

# ----------------------------
# Настройки трейсинга (OpenTelemetry)
# ----------------------------

# Эндпоинт OpenTelemetry Collector для отправки трейсов
OTEL_EXPORTER_OTLP_ENDPOINT=${PAYMENT_OTEL_EXPORTER_OTLP_ENDPOINT}

# Имя сервиса для трейсинга
OTEL_SERVICE_NAME=${PAYMENT_OTEL_SERVICE_NAME}

# Окружение (development, staging, production)
OTEL_ENVIRONMENT=${PAYMENT_OTEL_ENVIRONMENT}

# Версия сервиса
OTEL_SERVICE_VERSION=${PAYMENT_OTEL_SERVICE_VERSION}
