# .dockerignore нужен для того, чтобы при сборке Docker-образа
# в контейнер не попадали лишние файлы: кеши, временные файлы редакторов, каталоги сборки и так далее.
# Это уменьшает размер образа и ускоряет сборку за счёт кеширования слоёв.

# Игнорируем директории и файлы сборки
/bin
/build
/server

# Игнорируем кэш и модули, если они есть локально
/pkg
/vendor

# Игнорируем временные файлы редакторов
*.swp
*.swo
*.tmp

# Игнорируем скрытые системные файлы
.DS_Store
Thumbs.db

# Игнорируем VCS (Git)
.git
.gitignore

# Игнорируем файлы IDE
.idea
.vscode

# Игнорируем файлы логов
*.log
node_modules
coverage
.env
